{%- for menu in site.menus -%}
  {%- if menu.title == "Footer" -%}
    {%- assign footer-menu = menu -%}
  {%- endif %}
{%- endfor %}
<footer id="footer" class="-bg-black pt-4 pb-5 text-uppercase">
	<div class="container d-flex justify-content-between px-md-0">
		<ul class="footer-start contact-links hoverable-content list-horizontal p-0">
      <li class="-font-secondary -white list-inline mb-3 my-md-2">
        <a href="/contact/" class="decorate">
          Contact
        </a>
      </li>
      <li class="-font-secondary -white list-inline mb-3 my-md-2">
          E: <a href="mailto:hello@meddle.studio" class="decorate" aria-label="Email hello@meddle.studio">hello@meddle.studio</a>
      </li>
    </ul>
    <ul class="footer-middle social-links hoverable-content list-horizontal p-0">
      <li class="-font-secondary -white list-inline mb-3 my-md-2">
        <a href="{{ site.linkedin }}" target="_blank" class="decorate">
              LinkedIn
        </a>
      </li>
      <li class="-font-secondary -white list-inline mb-3 my-md-2">
        <a href="{{ site.instagram }}" target="_blank" class="decorate">
              Instagram
        </a>
      </li>
    </ul>
    <div class="footer-end">
      <p class="footer-legal -font-secondary mb-3 my-md-2">&copy; <span class="d-none d-md-inline">Meddle</span> {{"now" | date: "%Y"}}</p>
		</div>
	</div>
</footer>