{%- for menu in site.menus -%}
  {%- if menu.title == "Footer" -%}
    {%- assign footer-menu = menu -%}
  {%- endif %}
{%- endfor %}
<footer id="footer" class="-bg-black pt-4 pb-5 text-uppercase">
	<div class="container">
		<ul class="social-links hoverable-content list-horizontal p-0">
      <li class="-font-secondary list-inline">
        {% comment %}<a href="{{ site.instagram }}" target="_blank">
          <i class="d-inline-block icon-external-link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M24 20.414v1.103h-2.207V3.587L1.38 24 0 22.345 20.138 2.207H2.207V0H24v20.414Z"></path></svg>
          </i>
              Instagram
        </a>{% endcomment %}
        E: <a href="mailto:hello@meddle.studio">hello@meddle.studio</a>
      </li>
    </ul>
    <div class="footer-bottom">
      <p class="footer-legal -font-secondary">© 2025 Meddle, LLC.</p>
      <div class="footer-info">
        <ul class="legalLinks">
        	{%- for item in footer-menu -%}
          <li>
            <a href="{{ item.url }}" class="footer-legalLink hoverable -font-secondary">{{ item.title }}</a>
          </li>
          {%- endfor -%}
        </ul>
     </div>
		</div>
	</div>
</footer>