<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "{{ '/' | absolute_url }}#organization",
      "name": "{{ site.brand }}",
      "url": "{{ '/' | absolute_url }}",
      "logo": "{{ site.logoWht | absolute_url }}",
      "email": "{{ site.supportEmail }}",
      {% if site.supportPhone %}"telephone": "{{ site.supportPhone }}",{% endif %}
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ site.addressLine1 }}",
        "addressLocality": "St. Petersburg",
        "addressRegion": "FL",
        "postalCode": "33702",
        "addressCountry": "US"
      },
      "sameAs": [
        "{{ site.instagram }}"
        {% if site.twitter %},"{{ site.twitter }}"{% endif %}
        {% if site.facebook %},"{{ site.facebook }}"{% endif %}
        {% if site.linkedin %},"{{ site.linkedin }}"{% endif %}
      ]
    },
    {
      "@type": "WebSite",
      "@id": "{{ '/' | absolute_url }}#website",
      "url": "{{ '/' | absolute_url }}",
      "name": "{{ site.brand }}",
      "description": "{{ site.description }}",
      "publisher": {
        "@id": "{{ '/' | absolute_url }}#organization"
      },
      "inLanguage": "en-US"
    },
    {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}",
      "url": "{{ page.url | absolute_url }}",
      "name": "{{ page.title | default: site.title }}",
      "description": "{{ page.description | default: site.description }}",
      "isPartOf": {
        "@id": "{{ '/' | absolute_url }}#website"
      },
      "image": {
        "@type": "ImageObject",
        "url": "{{ site.image | absolute_url }}",
        "width": 2519,
        "height": 1620
      },
      "datePublished": "2025-07-15T17:18:04+0000",
      "dateModified": "2025-10-29T17:21:05+0000",
      "author": {
        "@id": "{{ '/' | absolute_url }}#organization"
      },
      "publisher": {
        "@id": "{{ '/' | absolute_url }}#organization"
      },
      "copyrightHolder": {
        "@id": "{{ '/' | absolute_url }}#organization"
      },
      "copyrightYear": "2025"
    },
    {
      "@type": "BreadcrumbList",
      "@id": "{{ page.url | absolute_url }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Homepage",
          "item": "{{ '/' | absolute_url }}"
        }
      ]
    }
  ]
}
</script>